{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsStorage": "",
    "CENTINELA_SCORING_COSMOS_ACCOUNT_URL": "https://cosmos-trial-dev-weu-003.documents.azure.com:443/",
    "CENTINELA_SCORING_COSMOS_DATABASE_NAME": "centinela",
    "CENTINELA_SCORING_COSMOS_CONTAINER_TRANSACTIONS": "transactions",
    "CENTINELA_SCORING_SERVICEBUS_NAMESPACE_FQDN": "sb-trial-dev-weu-003.servicebus.windows.net",
    "CENTINELA_SCORING_SERVICEBUS_QUEUE_CASOS": "casos-marcados",
    "CENTINELA_SCORING_HISTORY_LOOKBACK_DAYS": "30",
    "CENTINELA_SCORING_SCORE_THRESHOLD": "100",
    "CENTINELA_SCORING_VELOCITY_WINDOW_SECONDS": "300",
    "CENTINELA_SCORING_VELOCITY_MAX_COUNT": "5",
    "CENTINELA_SCORING_VELOCITY_POINTS": "30",
    "CENTINELA_SCORING_AMOUNT_MIN_HISTORY_POINTS": "3",
    "CENTINELA_SCORING_AMOUNT_STDDEV_MULTIPLIER": "3.0",
    "CENTINELA_SCORING_AMOUNT_POINTS": "40",
    "CENTINELA_SCORING_GEO_MAX_SPEED_KMH": "900.0",
    "CENTINELA_SCORING_GEO_POINTS": "50",
    "CENTINELA_SCORING_RISKY_CATEGORIES_CSV": "gambling,crypto_exchange,money_transfer",
    "CENTINELA_SCORING_RISKY_MERCHANT_IDS_CSV": "",
    "CENTINELA_SCORING_RISKY_MERCHANT_POINTS": "25"
  }
}